* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.Topic {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index:1;
}

.Topic__first__title {
    color: #892DE1;
}

.Topic__center {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    display: flex;
    align-items: center;
}

.Topic__center input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.Topic__center input:focus {
    outline: none;
}

.Topic__last {
    display: flex;
    gap: 10px;
    align-items: center;
}
.Mylearning{
    position: relative;
    cursor:pointer;
}
.Mylearning__popup{
    position: absolute;
    background-color:white;
    border:solid black 1px;
    width:100px;
    top:40px;
    padding:20px;
    right:0;
    display:none;
}
.Mylearning:hover .Mylearning__popup{
    display: block;
}

.option1 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px;
}

.option1 p {
    background-color: #892DE1;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: solid 1px;
    cursor: pointer;
}
.option1 p:hover{
    transition:1s;
    background-color:transparent;
    color: #892DE1;
    border: solid 1px;
}

.image1{
    position: relative;
}
.image1 img {
    width: 100%;
}

.sale-image__offer{
    width:35%;
    border:solid black 2px;
    background-color:white;
    padding:2%;
    position: absolute;
    top:10%;
    left:10%;
    animation-name:zoom;
    opacity:0;
    animation-fill-mode:forwards;
}
@keyframes zoom{
0%{
    transform:scale(0);
    opacity:0;
}
100%{
    transform:scale(1);
    opacity:1;
}
}
.Recommendedcourse {
    padding: 15px;
}

.img-card {
    flex-grow:1;
    flex-basis:20%;
    margin:15px;
}

.img-card img {
    width: 100%;
    height: 60%;
}

.Recommended__center {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid black 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.Popular {
    padding: 10px;
}

.Popular__contaniner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    align-items: center;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:800px){
    body{
        font-size:10px;
    }
}
@media screen and (max-width:500px){
    .img-card img{
        flex-basis:40%;
    }   
    .option1{
        display:none;
    }
}