* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.Topic {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px;
    gap: 10px;
    align-items: center;
}

.Topic__first__title {
    color: #892DE1;
}

.Topic__center {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    display: flex;
    align-items: center;
}

.Topic__center input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.Topic__center input:focus {
    outline: none;
}

.Topic__last {
    display: flex;
    gap: 10px;
    align-items: center;
}

.option1 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px;
}

.option1 p {
    background-color: #892DE1;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.image1 img {
    width: 100%;
}
.Recommendedcourse{
    padding:15px;
}
.img-card{
    width: 300px;
}
.img-card img{
    width:100%;
    height:60%;
}
.Recommended__center{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    flex-wrap: wrap;
}
.topics{
    padding:10px;
}
.topics__container{
    display: flex;
    gap:10px;
    margin-top:10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid black 2px;
    padding:10px;
    flex-grow:1;
    flex-basis:25%;
}
.Popular{
    padding:10px;
}
.Popular__contaniner{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top:10px;
    gap:10px;
}
.footer{
    padding:30px;
    background-color: black;
    color:white;
}
.footer__one{
    display:flex;
    gap:10px;
}
.footer__one p{
    margin:20px;
}
.footer__two{
    align-items:center;
    margin: 20px;
    display:flex;
    justify-content:space-between;
}